<h1>My Movies Collection</h1>
<form action="/create" method="post">
  <p>
    <label>
      name
      <input type="text" name="name">
    </label>
  </p>
  <label>
    country
    <input type="text" name="country">
  </label>
</p>
  <p>
    <label>
      writer
      <input type="text" name="writer">
    </label>
  </p>
  <p>
    <label>
      actor
      <input type="text" name="actor">
    </label>
  </p>
  <label>
    actress
    <input type="text" name="actress">
  </label>
</p>
<label>
  language
  <input type="text" name="language">
</label>
</p>
  <label>
    quality
    <input type="text" name="quality">
  </label>
</p>
  <p>
    <input type="submit" value="Save">
  </p>
</form>
